tr{
width:500px;
}

body {
    background-color: #006600;
}

td{
width:100px;
height:20px;
text-align:center;
}
//Check if this is h1, the main style for ACES UP TITLE.
//check
//checkq34r
.title{
font-weight: bold;
float: left;
}

.cardLocation{
width: 100px;
background-color:#F0F0F0;
}

/* Left side list of buttons */
.buttonList  {
    float: left;
    list-style: none;
    margin-right: 10px;
}

/* Deal Button */
#dealButton {
    background-color: #008CBA; /* Blue */
    color: white;
    text-decoration: none;
    padding: 50px 20px;
    margin-bottom: 20px;
    width: 100px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

/* When you hover over the Deal Button */
#dealButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}

/* Rules Button */
#rulesButton {
    background-color: #f44336; /* Red */
    color: white;
    text-decoration: none;
    padding: 50px 20px;
    margin-bottom: 20px;
    width: 100px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

/* When you hover over the Undo Button */
#rulesButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}

/* New Game Button */
#NGButton {
    background-color: #4CAF50; /* Red */
    color: white;
    text-decoration: none;
    padding: 50px 20px;
    margin-bottom: 20px;
    width: 100px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

/* When you hover over the New Game Button */
#NGButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*Info button by Daniel Lee*/
#infoButton{
    /*aesthetics of the button*/
    background-color: #4286f4;
    border: none;
    color: white;
    padding: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    cursor: pointer;
    border-radius: 50%;

    /*position of the button*/
    position: absolute;
    top: 25px;
    right: 25px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
